<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        Hörmətli İstifadəçi,
    </p>
    <p>
        Siz AMD Telecom mağazasının ən son yenilikləri haqqında məlumatdırma məktublarına uğurla abunə oldunuz.
    </p>
    <p>
        Bizə göstərdiyiniz diqqət və marağa görə sizə təşəkkürümüzü bildiririk.
    </p>
    <p>
        Hörmətlə,
    </p>
    <p>
        AMD Teelecom
    </p>
</body>
</html>