{% extends "base.html" %}
{% block content %}

{% load static %}
{% if order != None %}

<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>cart</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index:home' %}">Home</a></li>
                        <li class="breadcrumb-item active">cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->


<!--section start-->
<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table class="table cart-table table-responsive-xs">
                    <thead>
                        <tr class="table-head">
                            <th scope="col">image</th>
                            <th scope="col">product name</th>
                            <th scope="col">price</th>
                            <th scope="col">quantity</th>
                            <th scope="col">action</th>
                            <th scope="col">total</th>
                        </tr>
                    </thead>
                    {% comment %} {% for item in order.orderitem_set.all %}
                    <tbody>
                        <tr>
                            <td>
                                <a href="#"><img src="{{item.product.imageURL}}" alt=""></a>
                            </td>
                            <td><a href="{% url 'product-detail' item.product.id %}">{{item.product.title}}</a>
                                <div class="mobile-cart-content row">
                                    <div class="col-xs-3">
                                        <div class="qty-box">
                                            <div class="input-group">
                                                <input type="text" name="quantity" class="form-control input-number"
                                                    value="1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <h2 class="td-color">$ {{item.product.price}}</h2>
                                    </div>
                                    <div class="col-xs-3 cartquantity">
                                        <h2 class="td-color"><a href="{% url 'deletefromcart' item.product.id %}" class="icon"><i class="ti-close"></i></a>
                                        </h2>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h2>$ {{item.product.price}}</h2>
                            </td>
                            <td>
                                <div class="qty-box">
                                    <div class="input-group">
                                        <input type="number" name="quantity" class="form-control input-number"
                                            value="{{item.quantity}}">
                                    </div>
                                </div>
                            </td>
                            <td class="cartquantity"><a href="{% url 'deletefromcart' item.id %}" class="icon"><i class="ti-close"></i></a></td>
                            <td>
                                <h2 class="td-color">$ {{item.get_total|floatformat:2}}</h2>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %} {% endcomment %}
                </table>
                <table class="table cart-table table-responsive-md">
                    <tfoot>
                        <tr>
                            <td>total price :</td>
                            <td>
                                <h2>${{order.get_cart_total|floatformat:2}}</h2>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row cart-buttons">
            <div class="col-6"><a href="{% url 'index:home' %}" class="btn btn-solid">continue shopping</a></div>
            <div class="col-6"><a href="{% url 'order:checkout' %}" class="btn btn-solid">check out</a></div>
        </div>
    </div>
</section>
<!--section end-->
{% else %}
	<h1 style="text-align:center;padding: 100px">No Items in cart</h1>
{% endif %}

{% endblock content %}