{% extends "base.html" %}
{% load static %}

{% block price_range_css %}
<!-- price range -->
<link rel="stylesheet" type="text/css" href="{% static 'css/price-range.css' %}"> 
{% endblock %}

{% block content %}

<!-- breadcrumb start -->
<div class="breadcrumb-section">
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="page-title">
                <h2>Kolleksiya</h2>
            </div>
        </div>
        <div class="col-sm-6">
            <nav aria-label="breadcrumb" class="theme-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index:home' %}">Əsas səhifə</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Kolleksiya</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
</div>
<!-- breadcrumb end -->


<!-- section start -->
<section class="section-b-space ratio_asos">
<div class="collection-wrapper">
    <div class="container">
        <div class="row">

            <div class="col-sm-3 collection-filter">
                <!-- side-bar colleps block stat -->
                <div class="collection-filter-block">
                    <!-- brand filter start -->
                    <div class="collection-mobile-back">
                    <span class="filter-back"><i class="fa fa-angle-left" aria-hidden="true"></i>Geri</span>
                    </div>
                    {% if products.all.0.products.all %}
                    <div class="collection-collapse-block open">
                        <h3 class="collapse-block-title">Marka</h3>
                        <div class="collection-collapse-block-content">
                            <div class="collection-brand-filter">
                            {% for product in products %}
                            {% ifchanged product.marka.all.0.title %}
                            {% for marka in product.marka.all  %}
                                <div class="custom-control custom-checkbox collection-filter-checkbox">
                                    <input onclick="getData()" data-filter='marka' value="{{ marka.id }}" type="checkbox"  class="filter-item-checkbox custom-control-input" id="{{ marka.title }}">
                                    <label class="custom-control-label" for="{{ marka.title }}">{{ marka.title }}</label>
                                </div>
                            {% endfor %}
                            {% endifchanged %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- color filter start here -->
                    <div class="collection-collapse-block open">
                        <h3 class="collapse-block-title">Rənglər</h3>
                        <div class="collection-collapse-block-content">
                            <div class="color-selector collection-brand-filter">
                                {% for product in products %}
                                {% if product.color_code %}
                                <div class="custom-control custom-checkbox collection-filter-checkbox">
                                    <input type="checkbox" onclick="getData()" data-filter="color_title" value="{{ product.color_title }}" class="filter-item-checkbox custom-control-input" id="{{ product.color_title }}" style="border: 1px solid {{ product.color_code }}">
                                    <label class="custom-control-label" for="{{ product.color_title }}" style="color: {{ product.color_code }}"> {{ product.color_title }} </label>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- new or old filter start here -->
                    <div class="collection-collapse-block border-0 open">
                        <h3 class="collapse-block-title">Vəziyyəti</h3>
                        <div class="collection-collapse-block-content">
                            <div class="collection-brand-filter">
                                
                                    
                                {% comment %} {% for product in products %} {% endcomment %}
                                <div class="custom-control custom-checkbox collection-filter-checkbox">
                                    <input onclick="getData()" data-filter="is_new" type="checkbox" class="custom-control-input" name='is_used' id="new" value='True'>
                                    <label class="custom-control-label" for="new">Yeni</label>
                                </div>
                                <div class="custom-control custom-checkbox collection-filter-checkbox">
                                    <input onclick="getData()" type="checkbox" data-filter="is_new" value="False" class="filter-item-checkbox custom-control-input" name='is_used' id="old" value='is_old'>
                                    <label class="custom-control-label" for="old">Köhnə</label>
                                </div>
                                {% comment %} {% endfor %} {% endcomment %}
                                    
                                <!-- <div class="custom-control custom-checkbox collection-filter-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="twohundred">
                                    <label class="custom-control-label" for="twohundred">m</label>
                                </div>
                                <div class="custom-control custom-checkbox collection-filter-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="threehundred">
                                    <label class="custom-control-label" for="threehundred">l</label>
                                </div>
                                <div class="custom-control custom-checkbox collection-filter-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="fourhundred">
                                    <label class="custom-control-label" for="fourhundred">xl</label>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- price filter start here -->
                    <div class="collection-collapse-block border-0 open">
                        <h3 class="collapse-block-title">price</h3>
                        <div class="collection-collapse-block-content">
                            <div class="wrapper mt-3">
                                <div class="range-slider">
                                    <input type="text" id='range' class="js-range-slider" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- silde-bar colleps block end here -->
                <!-- side-bar single product slider start -->
                <div class="theme-card">
                    <h5 class="title-border">new product</h5>
                    <div class="offer-slider slide-1">
                        <div>
                            <div class="media"> 
                                <a href=""><img class="img-fluid blur-up lazyload" src="{% static 'images/pro/1.jpg' %}" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>Slim Fit Cotton Shirt</h6>
                                    </a>
                                    <h4>$500.00</h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href=""><img class="img-fluid blur-up lazyload" src="{% static 'images/pro/1.jpg' %}" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>Slim Fit Cotton Shirt</h6>
                                    </a>
                                    <h4>$500.00</h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href=""><img class="img-fluid blur-up lazyload" src="{% static 'images/pro/1.jpg' %}" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>Slim Fit Cotton Shirt</h6>
                                    </a>
                                    <h4>$500.00</h4>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="media">
                                <a href=""><img class="img-fluid blur-up lazyload" src="{% static 'images/pro/1.jpg' %}" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>Slim Fit Cotton Shirt</h6>
                                    </a>
                                    <h4>$500.00</h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href=""><img class="img-fluid blur-up lazyload" src="{% static 'images/pro/1.jpg' %}" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>Slim Fit Cotton Shirt</h6>
                                    </a>
                                    <h4>$500.00</h4>
                                </div>
                            </div>
                            <div class="media">
                                <a href=""><img class="img-fluid blur-up lazyload" src="{% static 'images/pro/1.jpg' %}" alt=""></a>
                                <div class="media-body align-self-center">
                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                    <a href="product-page(no-sidebar).html">
                                        <h6>Slim Fit Cotton Shirt</h6>
                                    </a>
                                    <h4>$500.00</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- side-bar single product slider end -->
                <!-- side-bar banner start here -->
                <div class="collection-sidebar-banner">
                
                    <a href="#"><img src="{% static 'images/side-banner.png' %}" class="img-fluid blur-up lazyload" alt=""></a>
                </div>
                <!-- side-bar banner end here -->
            </div>
            <div class="collection-content col">
                <div class="page-main-content">
                    <div class="row">
                        <div class="col-sm-12">
                            {% comment %} <div class="top-banner-wrapper">
                                <a href="#"><img src="{% static 'images/mega-menu/2.jpg' %}" class="img-fluid blur-up lazyload" alt=""></a>
                                <div class="top-banner-content small-section">
                                    <h4>fashion</h4>
                                    <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    </h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                        it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                                        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                </div>
                            </div> {% endcomment %}
                            <div class="collection-product-wrapper">
                                <div class="product-top-filter">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="filter-main-btn"><span class="filter-btn btn btn-theme"><i class="fa fa-filter"
                                                        aria-hidden="true"></i> Filter</span></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="product-filter-content">
                                                <div class="search-count">
                                                    <h5>Showing Products 1-24 of 10 Result</h5>
                                                </div>
                                                <div class="collection-view">
                                                    <ul>
                                                        <li><i class="fa fa-th grid-layout-view"></i></li>
                                                        <li><i class="fa fa-list-ul list-layout-view"></i></li>
                                                    </ul>
                                                </div>
                                                <div class="collection-grid-view">
                                                    <ul>
                                                        <li><img src="{% static 'images/icon/2.png' %}" alt="" class="product-2-layout-view"></li>
                                                        <li><img src="{% static 'images/icon/3.png' %}" alt="" class="product-3-layout-view"></li>
                                                        <li><img src="{% static 'images/icon/4.png' %}" alt="" class="product-4-layout-view"></li>
                                                        <li><img src="{% static 'images/icon/6.png' %}" alt="" class="product-6-layout-view"></li>
                                                    </ul>
                                                </div>
                                                <div class="product-page-per-view">
                                                    <select>
                                                        <option value="High to low">24 Products Par Page
                                                        </option>
                                                        <option value="Low to High">50 Products Par Page
                                                        </option>
                                                        <option value="Low to High">100 Products Par Page
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="product-page-filter">
                                                    <select>
                                                        <option value="High to low">Sorting items</option>
                                                        <option value="Low to High">50 Products</option>
                                                        <option value="Low to High">100 Products</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-wrapper-grid product-load-more">
                                    <div class="row margin-res prod-items">
                                        {% for product in products %}
                                        <div class="col-xl-3 col-6 col-grid-box category-pro" for-filter="{{product.category.all.0.id}}">
                                            <div class="product-box">
                                                <div class="img-wrapper">
                                                    <div class="front">
                                                        <a href="{% url 'product:product_detail' product.slug %}">
                                                            {% for image in product.images.all %}
                                                            {% if image.is_main %}
                                                            <img
                                                                src="{{ image.image.url }}"
                                                                class="img-fluid blur-up lazyload bg-img" alt="">
                                                            {% endif %}
                                                            {% endfor %}
                                                            </a>
                                                    </div>
                                                    <div class="back">
                                                        <a href="{% url 'product:product_detail' product.slug %}">
                                                            {% for image in product.images.all %}
                                                            {% if image.is_second_main %}
                                                            <img
                                                                src="{{ image.image.url }}"
                                                                class="img-fluid blur-up lazyload bg-img" alt="{{ image.image }}">
                                                            {% endif %}
                                                            {% endfor %}
                                                            </a>
                                                    </div>
                                                    <div class="cart-info cart-wrap">
                                                        <button data-toggle="modal" data-target="#addtocart" title="Add to cart"><i
                                                                class="ti-shopping-cart"></i></button> <a href="javascript:void(0)" title="Add to Wishlist"><i
                                                                class="ti-heart" aria-hidden="true"></i></a> <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View"><i
                                                                class="ti-search" aria-hidden="true"></i></a> <a href="compare.html" title="Compare"><i
                                                                class="ti-reload" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-detail">
                                                    <div>
                                                        {% comment %} <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div> {% endcomment %}
                                                        <a href="product-page(no-sidebar).html">
                                                            <h6>{{ product.title | upper }}</h6>
                                                        </a>
                                                        <p>{{ product.description }}
                                                        </p>
                                                        <h4>{{ product.price }} AZN</h4>
                                                        {% if product.color_title %}
                                                        <ul class="color-variant">
                                                            <li class="bg-light0" style="background-color: {{ product.color_code }} !important;"></li>
                                                            <!-- <li class="bg-light1"></li>
                                                            <li class="bg-light2"></li> -->
                                                        </ul>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!-- <div class="col-xl-3 col-6 col-grid-box">
                                            <div class="product-box">
                                                <div class="img-wrapper">
                                                    <div class="front">
                                                        <a href="#"><img src="{% static 'images/pro3/27.jpg' %}" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                                    </div>
                                                    <div class="back">
                                                        <a href="#"><img src="{% static 'images/pro3/28.jpg' %}" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                                    </div>
                                                    <div class="cart-info cart-wrap">
                                                        <button data-toggle="modal" data-target="#addtocart" title="Add to cart"><i
                                                                class="ti-shopping-cart"></i></button> <a href="javascript:void(0)" title="Add to Wishlist"><i
                                                                class="ti-heart" aria-hidden="true"></i></a> <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View"><i
                                                                class="ti-search" aria-hidden="true"></i></a> <a href="compare.html" title="Compare"><i
                                                                class="ti-reload" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-detail">
                                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                    </div>
                                                    <a href="product-page(no-sidebar).html">
                                                        <h6>Slim Fit Cotton Shirt</h6>
                                                    </a>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                                        of type and scrambled it to make a type specimen book
                                                    </p>
                                                    <h4>$500.00</h4>
                                                    <ul class="color-variant">
                                                        <li class="bg-light0"></li>
                                                        <li class="bg-light1"></li>
                                                        <li class="bg-light2"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-3 col-6 col-grid-box">
                                            <div class="product-box">
                                                <div class="img-wrapper">
                                                    <div class="front">
                                                        <a href="#"><img src="{% static 'images/pro3/1.jpg' %}" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                                    </div>
                                                    <div class="back">
                                                        <a href="#"><img src="{% static 'images/pro3/2.jpg' %}" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                                    </div>
                                                    <div class="cart-info cart-wrap">
                                                        <button data-toggle="modal" data-target="#addtocart" title="Add to cart"><i
                                                                class="ti-shopping-cart"></i></button> <a href="javascript:void(0)" title="Add to Wishlist"><i
                                                                class="ti-heart" aria-hidden="true"></i></a> <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View"><i
                                                                class="ti-search" aria-hidden="true"></i></a> <a href="compare.html" title="Compare"><i
                                                                class="ti-reload" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-detail">
                                                    <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                    </div>
                                                    <a href="product-page(no-sidebar).html">
                                                        <h6>Slim Fit Cotton Shirt</h6>
                                                    </a>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                                        of type and scrambled it to make a type specimen book
                                                    </p>
                                                    <h4>$500.00</h4>
                                                    <ul class="color-variant">
                                                        <li class="bg-light0"></li>
                                                        <li class="bg-light1"></li>
                                                        <li class="bg-light2"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div> -->


                                    </div>
                                </div>
                                <div class="load-more-sec"><a href="javascript:void(0)" class="loadMore">load
                                        more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- section End -->

{% endblock %}


{% block price_range_js %}

<!-- price_range js -->
<script src="{% static 'js/price-range.js' %}"></script>
<!-- product filter js -->
<script src="{% static  'js/product-filter.js' %}"></script>
{% endblock price_range_js %}